$cor-primaria: #f65c50;
$cor-secundaria: #18122a;
$cor-terciaria: #675ef7;
$cor-fonte: #3a3838;
$cor-neutra: #fff;
$cor-neutra-2: #fafafa;
$fonte-primaria: 'Outfit';
$fonte-secundaria: 'Source Code Pro';